---
import DashboardLayout from '../../../../layouts/DashboardLayout.astro';

---

<DashboardLayout title="Test Simple">
  <div className="p-6">
    <h1 className="text-2xl">Test Simple - Juridique/Jurithèque</h1>
    <p>Si vous voyez ceci, le dossier fonctionne</p>
  </div>
</DashboardLayout>
